
.content_sidebar_dropdown-gst,
.content_sidebar_dropdown-container  {
    width: 90%;
    margin: 10px;
}

.selected-items1,
.selected-items {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
    background: #FFFFFF;
/* Dark 50% */
border: 1px solid rgba(31, 32, 65, 0.5);
box-sizing: border-box;
border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.items1,
.items  {
    background: #FFFFFF;
/* Dark 50% */
border: 1px solid rgba(31, 32, 65, 0.5);
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 10px;
}

.items1 input[type="text"],
.items input[type="text"] {
    width: 15px;
    margin-left: 10px;
    margin-right: -10px;
    border: none;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

/* Dark 100% */
color: #1F2041;
}

.items1 .title1

{
    display: inline-flex;
    justify-content: flex-start;
    width: 20%;
    margin-left:15px;
    margin-top: 13px;
    margin-bottom: 22px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

/* Dark 100% */
color: #1F2041;
}

.items .title {
    display: inline-flex;
    justify-content: flex-start;
    width: 50%;
    margin-left:15px;
    margin-top: 13px;
    margin-bottom: 22px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

/* Dark 100% */
color: #1F2041;
}


.btn1, .btn {
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 22px;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
  
   
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

align-items: center;
text-align: center;

color: rgba(31, 32, 65, 0.5);
}


 .minus1
  {
    margin-left: 130px;
}

.minus {
    margin-left: 30px;
}

.right1,
.right {
    margin-left: 5px;
}


.hidden1, .hidden {
    display: none;
}


.dropdown__btn {
   
    width:100%;
    margin: 10px;
    justify-content: space-between;
}


.dropdown__btn-remove {
  
    background-color: white;
    border: none;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

color: rgba(31, 32, 65, 0.5);
}


.dropdown__btn-accept {
   width:32%;
    background-color: white;
    border: none;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

/* Primary Color */
color: #BC9CFF;  
margin-left: 110px;
}