body {
    width: 100%;
    background-color: #FFFFFF;
}

/* ДЛЯ КОМПЬЮТЕРОВ*/


@media all and  (max-width: 2900px) {
.container {
    display: flex;
    justify-content: space-between;
    max-width: 2900px;

    margin: 0 auto;
}

.header-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo-img {
    object-fit: cover;
    margin: 10px;
    width: 105px;
    height: 40px;
}

.header_nav {
    margin: 20px auto;
}


.header_btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 22px;
}

.header_btn_login {
    color: #BC9CFF;
    border-radius: 22px;
    background: white;
    border-color: #BC9CFF;
}

.header_btn_register {
    display: flex;
    color: #FFFFFF;
    /* Primary Gradient */
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.content { 
    display: flex;
    width:100%;
  
}

.content_sidebar {
  display:flex;
   flex-wrap: wrap;
   width: 30%;
   
}


.content_sidebar_calendar {
    width:100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    height:100px;
}

.content_sidebar_calendar-title {
    margin: 10px;
width:70%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
border-color: blueviolet;
}

#content_sidebar_calendar-form {
    margin: 10px;
    width:80%;
    height: 44px;
    background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}








.content_sidebar_slider-range {
    display: flex;
    width:90%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.slider-range-main {
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;
   
}

.slider-name {
    
    width: 50%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    
    /* Dark 100% */
    color: #1F2041;
}

.slider-body {
    
  width: 100%;
  
  
}

#amount {
 
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;
text-transform: uppercase;
border: none;
/* Dark 50% */
color: rgba(31, 32, 65, 0.5);
width:40%;
}

#slider-range {
 width:100%; 
height:6px;
margin: 10px;
background: #FFFFFF;
/* Dark 25% */
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 3px;
}

.ui-slider-horizontal .ui-slider-handle {

    
    /* Secondary Gradient */
    height: 7px;
    color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 10px;
    border-color: #FFFFFF;
    
}


.ui-slider-horizontal .ui-slider-handle:focus {
    outline: none;
}



.ui-slider-horizontal .ui-slider-range {

  
/* Secondary Gradient */
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border-radius: 3px;

}
.content_sidebar_checks {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 90%;
}

.content_sidebar_checks-name {
    margin: 10px;  
width: 70%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

/* Dark 100% */
color: #1F2041;

}

.content_sidebar_checks-text {

width: 70%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
margin: 10px;
/* identical to box height, or 129% */

/* Dark 50% */
color: rgba(31, 32, 65, 0.5);
}


input[type="checkbox"] {
    display: none;
  }




  .content_sidebar_checks-text:before {
    display: inline-flex;
    content: " ";
    background: #FFFFFF;
    /* Dark 25% */
    height:20px;
    width:20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    
  }
  input:checked +.content_sidebar_checks-text   {
    background: linear-gradient(red, blue); /* Градиент для текста */
   }


    input:checked + .content_sidebar_checks-text:before {
    content: "✔";
    color:  #BC9CFF;
    mix-blend-mode: screen;
    
    background: #FFFFFF;

    padding-left:3px;
    height:20px;
    width:20px;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    
  }



  /* disabled */
  input:disabled + .content_sidebar_checks-text:before {
    background: #FFFFFF;
    /* Dark 25% */
    height:20px;
    width:20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    
  }





.content_sidebar_ability {
    margin: 10px;
display:flex;
justify-content: flex-end;
flex-wrap: wrap;
flex-flow: row-reverse;
flex-direction: column;
width: 90%;
}



.content_sidebar-ability-name {
    margin: 10px;
width: 40%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;

/* Dark 100% */
color: #1F2041;
}

.content_sidebar_ability-text {

    margin: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
margin: 10px;
/* Dark 75% */
color: rgba(31, 32, 65, 0.75);
}


.content_sidebar_ability-add {

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* or 117% */

/* Dark 50% */
color: rgba(31, 32, 65, 0.5);
}





.content_sidebar_ability-text:before {
    display: inline-flex;
    content: " ";
    background: #FFFFFF;
    /* Dark 25% */
    height:20px;
    width:20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    
  }
  input:checked +.content_sidebar_ability-text   {
    background: linear-gradient(red, blue); /* Градиент для текста */
   }


    input:checked + .content_sidebar_ability-text:before {
    content: "✔";
    color:  #BC9CFF;
    mix-blend-mode: screen;
    
    background: #FFFFFF;

    padding-left:3px;
    height:20px;
    width:20px;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    
  }



  /* disabled */
  input:disabled + .content_sidebar_ability-text:before {
    background: #FFFFFF;
    /* Dark 25% */
    height:20px;
    width:20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    
  }







  .content_sidebar_comfort {
      display:flex;
      width:90%;
      justify-content: flex-start;
      flex-wrap: wrap;
  }


    .content_sidebar_comfort_title {
        width:70%;
        margin: 10px;
        font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
    }




  #content_sidebar_comfort_field

    {   width:90%;
        height:44px;
        margin: 10px;
        background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 2px;
    }











.content_main {

    width: 80%;
}
.content_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.content_main_title {
    padding-top: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    /* Dark 100% */
    color: #1F2041;
}

.content_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   background-color: #FFFFFF;
   flex-basis: 32%;
   flex-grow: 1;
   flex-shrink: 1;
   width: 100%;
    
}
.content_item_slider {
   display: flex;
   width:80%;
   height: 80%;
   
} 
.content__item-add {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
}

    
}


/* ДЛЯ ПЛАНШЕТОВ*/

@media all (min-width: 650px) and  (max-width: 900px) {
    .container {
        display:flex;
        max-width: 900px;
        flex-direction: column;
        flex-wrap: wrap;
        
        
    }
    .content_item {
       
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .content_sidebar {
    border: 1px solid black;
    width: 30%;
    height: 500px;
}
    
}



/* ДЛЯ ТЕЛЕФОНОВ*/

@media all and (max-width: 500px) {
    .container  {
    display: flex;
    justify-content: space-between;
    max-width:500px;
    flex-wrap: wrap;
    margin: 0 auto;
        
     }

    .content_item {
       
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
        
    }


 

        .content_sidebar {
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 1;
            width: 100%;
 }
    
}