html,
body {
  height: 100%;
  
}

.login__wrapper {
    max-width: 1900px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(/img/image-4.1.png);
    background-size: cover;
}

.login {
    display: flex;
    width: 30%;
    height: 40%;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: column;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.login__title {
    margin-left: 25px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;}

.login__email {
width: 85%;
height: 44px;
margin-left: 25px;
background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}

.login__email::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
}


.login__password {
    width: 85%;
    height: 44px;
    margin-left: 25px;
    margin-top: 10px;;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

}

.login__password::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
}

.login__button{
width: 85%;
height: 44px;
margin-left: 25px;
border: none;
margin-top:20px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}

.login__button:focus {
    outline: none;
}


.login__button:active {
    width: 85%;
    height: 44px;
    margin-left: 25px;
    margin-top:20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color:#BC9CFF;
    opacity: 0.5;
    border-radius: 22px;
    
}

.login__text {
display: flex;
margin-left: 25px;
margin-top: 42px;
align-items: center;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #000000;
}

.login__text-button {
    display: flex;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color:#BC9CFF;
    border: 2px solid #BC9CFF;
    width: 20%;
    margin-left: 132px;
    margin-top: 22px;
    margin-bottom: 22px;
   background: white;
    border-radius: 22px;
}


.login__text-button:focus {
    outline: none;
}

.login__text-button:active {
opacity: 0.5;
border-radius: 22px;
}

.login__text-button:hover {
    display: none;
    }